<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Tutorials</title>
    <!--Including the static files-->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  </head>


  <body>
    <!-- To inlcude the Partial Pages like Navbars or footers or something else -->
    {% include "personal/includes/topnav.html" %}
    {% include "personal/includes/partial-home.html" %}
    <div class="container-fluid">
      {% block content %}
        {% endblock %}
    </div>

  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
